<!DOCTYPE html>
<html data-ng-app=''>
  <head>
    <title>Angular JS tutorial</title>
  </head>
  <body data-ng-init="customers=[{name:'Elena Garrone', city: 'London'}, {name:'Peter Juhasz', city: 'London'}, {name:'Susanna Arata', city: 'Genova'}]">
    Name:
    <br/>
    <input type='text' data-ng-model="name"> {{ name }}
    <br/>
    <ul>
      <li data-ng-repeat="cust in customers | filter: name | orderBy: 'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase}}</li>
    </ul>

    <script src='angular.min.js'></script>
  </body>
</html>
