<!DOCTYPE html>
<html data-ng-app='demoApp'>
  <head>
    <title>Angular JS tutorial</title>
  </head>
  <body>
    <section  data-ng-controller='SimpleController'>
      Name:
      <br/>
      <input type='text' data-ng-model="name"> {{ name }}
      <br/>
      <ul>
        <li data-ng-repeat="cust in customers | filter: name | orderBy: 'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase}}</li>
      </ul>
    </section>

    <script src='angular.min.js'></script>

    <script>
      var demoApp = angular.module('demoApp', []); //the empty array means that there are no dependencies

      demoApp.controller('SimpleController', function($scope) {
        $scope.customers = [
          { name: 'Elena Garrone', city:'London' },
          { name: 'Peter Juhasz', city:'New York' },
          { name: 'Susanna Arata', city:'Genova' },
          { name: 'Stefano Garrone', city:'Bandita' }
        ];
      });
    </script>
  </body>
</html>
